%h1
  Nulogy Bar-b-que
  %nav
    %a(href='/orderers') Orderers
    \-
    %a(href='/non-orderers') Non Orderers
    \-
    %a(href='/order') This Weeks Order

= render 'new'

- unless @previous_orders.empty?
  %h4 Previous Orders
  %ul
    - @previous_orders.each do |order|
      %li
        = order.description
        %span= order.created_at
