!!!

%html
  %head
    %title Epic Nulogy BBQ
    = stylesheet_link_tag 'application'

  %body
    = image_tag 'barbeque.jpg', class: 'header'

    #content
      = yield
    = javascript_include_tag 'application'
