!!!

%html
  %head
    %title Nulogy Epic BBQ
    = stylesheet_link_tag 'application'

  %body
    = image_tag 'barbeque.jpg'
    %ul
      %li


    #content
      = yield
    = javascript_include_tag 'application'
